@model VideoOnDemand.Entities.Download

@{
    ViewData["Title"] = "Details";
}

<h2 class="admin-top-margin">Details</h2>

<div>
    <h4>Download</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
</div>
<div>
    <button-container controller="@ViewContext.RouteData.Values["controller"].ToString()" actions="Index,Edit" id="@Model.Id" descriptions="Back to List"></button-container></div>
