@model IEnumerable<UserCourseDTO>

    @{
    ViewData["Title"] = "Index";
    }

    <h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Course</th>
                <th>User</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.CourseTitle)</td>
                    <td>@Html.DisplayFor(modelItem => item.UserEmail)</td>
                    <td>
                        <a asp-action="Edit" asp-route-courseId="@item.CourseId" asp-route-userId="@item.UserId">Edit</a> |
                        <a asp-action="Details" asp-route-courseId="@item.CourseId" asp-route-userId="@item.UserId">Details</a> |
                        <a asp-action="Delete" asp-route-courseId="@item.CourseId" asp-route-userId="@item.UserId">Delete</a>
                    </td>
                </tr>
}
        </tbody>
    </table>
